h1.titulo_venta {
    border-style: solid;
    text-align: center;
}



table.borde_tabla{
    border-style: solid;
    margin: 10px auto 10px auto;
}

tr.color_fondo{
    background-color:deepskyblue;  
}
th{
    border-bottom: 2px solid black;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color:white;
    height: 50px;
    width: 100%;
}
img.logo{
    padding: 0 50px;
}
nav ul{
    float: right;
    margin-right: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin-left: 50px;
   

}
nav ul li a{
    color:lightseagreen;
    text-transform: uppercase;
    padding: 7px 30px;
    border-radius: 3px;
}

a.active,a:hover{
    background: gray;
    transition: 0.5s;
}